@use '../abstracts/variables' as v;

.registration-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    &__headline {
        text-align: center;
        
    }

    &__form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        
        & input {
            min-width: 300px;
        }

        & input + input {
            margin-top: 10px;
        }
    }

    &__passwordConfirm {
        height: 1rem;
        margin-top: 10px;

        &--valid {
            color: green;
        }

        &--invalid {
            color: red;
        }
    }
}